table {
    width: 100%;
    background: green; 
    color: navy; 
    border-spacing: 1px;
    align: right;
   }

   td, th {
    background: gainsboro; 
    padding: 5px; 
    text-align: left;
   }
   
img {
	/*float: left;*/
    width: auto;
}